__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
instance/
.env
*.db
*.sqlite
*.sqlite3
uploads/
*.log
.DS_Store
cookies.txt
intern_cookies.txt
live_users.html
live_users_new.html
app/static/submissions/
